body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-generator-input {
  width: calc(100% - 400px);
}
.close-btn {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  width: fit-content;
  margin: 5px;
  /* color: white; */
}

.chat-messages-container {
  padding-left: 35rem !important;
}

@media (max-width: 2560px) {
  .image-generator-input {
    width: calc(100% - 400px);
    left: 350px;
  }
}
@media (max-width: 1200px) {
  .image-generator-input {
    width: calc(100% - 150px);
    left: 100px;
  }
  .chat-messages-container {
  padding-left: 10rem !important;
}
}
@media (max-width: 700px) {
  .image-generator-input {
    width: calc(100% - 50px);
    left: 25px;
  }
  .chat-messages-container {
  padding-left: 2rem !important;
}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
